node_modules/
.env
package-lock.json
package.json
test_mail.js
create_token.js
php.ini
stderr.log
/Admin/node_modules
Admin/node_modules/
/Backend/node_modules
Backend/node_modules/
/Frontend/node_modules
Frontend/node_modules/
Admin/.env
Admin/package-lock.json
Admin/package.json
Backend/.env
Backend/package-lock.json
Backend/package.json
Frontend/.env